.main{
    width: 70%;
    margin: auto;
}
.card{
    display: flex;
    flex-wrap: wrap;
   cursor: pointer;
    gap: 100px;
    justify-content: center;
    align-items: center;
   
}
.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    overflow: hidden;
}
.inner{
    text-align: center;
}
img:hover{
    transform: scale(1.5);
    transition-duration: 1.8s;
}
button{
    background-color: skyblue;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    height: 30px;
}